.jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
    margin-bottom: 0;
    background-color: #fff;
}

.text-center {
    text-align: center!important;
}

.jumbotron .container {
    max-width: 40rem;
}

.jumbotron-heading {
    font-weight: 300;
}

.text-muted {
    color: #636c72!important;
}

.album {
    min-height: 50rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #f7f7f7;
}

.card {
    float: left;
    width: 33.333%;
    padding: .75rem;
    margin-bottom: 2rem;
    border: 0;
}

.card-text {
    font-size: 85%;
}

